<div>
  <div class="pure-form pure-form-stacked">
    <fieldset>
      <legend>
        Para aprender sempre, assine nossa lista de conteúdos gratuita:
      </legend>
      <div class="field">
        <label for="email" class="fieldText">e-mail</label>
        <input id="email" [(ngModel)]="email" type="text" placeholder="meu melhor e-mail" hover-validation [format]="emailRegExp" [errors]="emailErrors"/>
        <span class="invalid" *listElements="emailErrors; let error of emailErrors; let i = index">
          {{ i + 1 }}. {{ error }}
        </span>
        
      </div>
      <div class="field">
        <label for="phone" class="fieldText">telefone</label>
        <input id="phone" [(ngModel)]="phone" type="text" placeholder="meu melhor telefone" hover-validation [format]="phoneRegExp" [errors]="phoneErrors" />
        <span class="invalid" *listElements="phoneErrors; let error of phoneErrors; let i = index">
          {{ i + 1 }}. {{ error }}
        </span>
      </div>
      <hr />
      <button type="button" class="pure-button pure-button-primary" (click)="signIn()">
        Assinar agora!
      </button>
    </fieldset>
  </div>
</div>
