<header class="header brand-name">
  <img class="header-logo brand-logo" src="../assets/angular.ico" atl="logo" aria-hidden="true" />
  <h1 class="header-title"> Cabeçalho do App </h1>
</header>
<br /><hr />
<main class="main">
  <div class="content">
    <app-nav-bar [data]="{title}"/>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <app-content/>
  </div>
</main>
<br />
<a class="button" routerLink="1">ir para 1</a>
<br />
<a class="button" routerLink="2">ir para 2</a>
<router-outlet></router-outlet>
