/* You can add global styles to this file, and also import other style files */
.invalid {
    color: #ff0000;
}

/* sobrepõe borda padrão do pure-form por especificidade */
.pure-form input[type=text].invalid {
    color: #ff0000;
    border: 1px solid #ff0000;
}